@page
@model Mahsul.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";

}

<h1>@ViewData["Title"]</h1>

<p>@TempData["SuccessMessage"]</p>
