<!-- ThankYou.cshtml -->
<div class="thank-you-container">
    <h1 style="color:red">Teşekkürler!</h1>
    <p>Mesajınızı aldık ve en kısa sürede sizinle iletişime geçeceğiz.</p>
</div>

<style>
    .thank-you-container {
        background-color: #0a2240;
        color: #fff;
        padding: 40px;
        max-width: 600px;
        margin: 50px auto;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

        .thank-you-container h1 {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .thank-you-container p {
            font-size: 1.2em;
        }
</style>
